<header class="main-nav">

	<nav class="left-nav">
		<ul>
		<button class="fa fa-bars">sections</button>
			<%# <li id="sections-sidebar-btn">
				<i class="fa fa-bars"></i>
				<span>sections</span>
			</li> %>

			<button class="fa fa-search">search</button>


			<%# <li id="search-modal-btn">
				<i class="fa fa-search"></i>
				<span>search</span>
			</li> %>
		</ul>
	</nav>
		<nav class="right-nav">
	<ul>
		<button class="button">subscribe now</button>
		<button class="button">log in</button>
		<li>    <i class="fa fa-cog"></i>                  </li>
		<%# <button id= "gear-dropdown-btn" class="fa fa-cog"></i></button> %>
	</ul>
	
	
	</nav>
</header>