<h1>Make your account here!</h1>

<form action="<%=new_user_url%>" method="POST">
  <label> Username:
  <input type="text" name="user[username]" value="">
  </label>
  <br>
  <label> Password:
  <input type="password" name="user[password]" value="">
  </label>
  <br>
  <input type="submit" value="Create Account!">
</form>